mixin input-text(type, placeholder, mods, title)

  //- Принимает:
  //-   type           {string} - тип инпута
  //-   placeholder    {string} - placeholder
  //-   mods           {string} - список модификаторов
  //- Вызов:
        +input-text('type','placeholder', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' input-text--' + modsList[i].trim();
      }
    }
    if(type==='tel'){
      var pattern="[\+]\d{1}\s[\(]\d{3}[\)]\s\d{3}[\-]\d{2}[\-]\d{2}"
      var minlength="18"; 
      var maxlength="18";
    }

  .input-text(class=allMods)&attributes(attributes)
    .input-text__title=title
    .input-text__wrap
      input(type=type, placeholder=placeholder required).input-text__input
      block
