@import "./fonts/Gilroy/stylesheet.css";
@import "./blocks/feedback-form/feedback-form.scss";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
  box-sizing: border-box;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

// common
// variables

// Ширины

$screen-xs: 0;
$screen-sm: 480px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1800px;

$main-color: #7290a1;
$main-title-color: #45555f;
$accent-color: #0077ff;
$strong-color: #2d9cdb;
$main-bg-color: #ffffff;

// styles
html {
  font-family: Gilroy;
  font-size: 16px;
  line-height: 140%;
  color: $main-color;
}

body {
  min-width: 320px;
}

.page {
  .page__header {
    height: 64px;
    display: flex;
    align-items: center;

    @media screen and (max-width: $screen-xl) {
      height: 56px;
    }
  }
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $main-bg-color;
  box-shadow: 0px 4px 28px rgba(65, 109, 131, 0.05);

  @media screen and (max-width: $screen-xl) {
    justify-content: flex-start;
    padding: 0 40px;
    height: 56px;
  }

  @media screen and (max-width: $screen-sm) {
    padding: 0 16px;
  }

  &__burger {
    display: none;
    cursor: pointer;

    @media screen and (max-width: $screen-xl) {
      display: block;
    }
  }

  &__logo {
    cursor: pointer;

    @media screen and (max-width: $screen-xl) {
      margin-left: 24px;

      svg {
        width: 86px;
        height: 20px;
      }
    }

    @media screen and (max-width: $screen-sm) {
      margin-left: 16px;
    }
  }

  &__nav {
    @media screen and (max-width: $screen-xl) {
      display: block;
      position: absolute;
      z-index: 2;
      top: 58px;
      left: 0;
      background: $main-bg-color;
      box-shadow: 0px 4px 28px rgba(65, 109, 131, 0.05);
    }
  }

  &__download-link {
    margin-left: 40px;
    cursor: pointer;
    color: $accent-color;

    @media screen and (max-width: $screen-xl) {
      margin-left: auto;
    }

    @media screen and (max-width: $screen-sm) {
      font-size: 14/16 * 1rem;
    }
  }
}

nav {
  margin-left: 108px;

  @media screen and (max-width: $screen-xl) {
    margin-left: 0;
    display: flex;
    flex-direction: column;
    min-width: 255px;
  }
  @media screen and (max-width: $screen-sm) {
    padding-bottom: 16px;
  }

  &__item {
    margin-left: 40px;
    cursor: pointer;

    @media screen and (max-width: $screen-xl) {
      margin-bottom: 24px;
    }

    @media screen and (max-width: $screen-sm) {
      margin-left: 16px;
    }

    &:first-child {
      margin-left: 0;

      @media screen and (max-width: $screen-xl) {
        margin-left: 40px;
      }

      @media screen and (max-width: $screen-sm) {
        margin-left: 16px;
      }
    }
  }
}

.hidden {
  display: none;
}

.section1 {
  position: relative;
  background-image: url("./images/loon-image-original.jpg");
  width: 100%;
  min-height: calc(100vh - 64px);
  background-size: cover;
  background-position-x: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: calc(162 / 900 * 100vh);
  padding-left: 40px;
  padding-right: 40px;

  @media screen and (max-width: $screen-xl) and (min-width: $screen-sm + 1px) {
    background-image: url("./images/main-img-tablet.jpg");
    background-position-x: left;
    justify-content: flex-start;
    padding-top: calc(120 / 1024 * 100vh);
  }

  @media screen and (max-width: $screen-sm) and (min-width: $screen-xs) {
    background-image: url("./images/loon-image-original-min.jpg");
    background-position-x: left;
    flex-direction: column;
    padding: 96px 16px 0;
  }

  &__promo {
    max-width: 763px;
    // position: absolute;
    left: calc(378 / 1920 * 100vw);
    top: calc(162 / 900 * 100vh);
  }

  &__title {
    font-size: 48/16 * 1rem;
    line-height: 120%;
    letter-spacing: 0.2px;
    color: $main-title-color;
    font-weight: bold;
    margin-bottom: 121px;

    @media screen and (max-width: $screen-xl) and (min-width: $screen-sm + 1px) {
      font-size: 40/16 * 1rem;
    }

    @media screen and (max-width: $screen-sm) and (min-width: $screen-xs) {
      font-size: 28/16 * 1rem;
      margin-bottom: 80px;
    }

    span {
      color: $strong-color;
      display: block;
    }

    span:last-child {
      font-size: 22/16 * 1rem;
      line-height: 130%;
      letter-spacing: 0.2px;
      color: $strong-color;
      @media screen and (max-width: $screen-sm) and (min-width: $screen-xs) {
        font-size: 1rem;
        margin-top: 16px;
      }
    }
  }

  &__advantage {
    @media screen and (max-width: $screen-xl) {
      max-width: 256px;
      margin-bottom: 108px;
    }

    ul {
      // list-style-type: circle;
      color: $main-title-color;
    }
    li {
      font-weight: 600;
      font-size: 18/16 * 1rem;
      line-height: 140%;
      letter-spacing: 0.2px;
      display: flex;
      align-items: center;
      @media screen and (max-width: $screen-xl) {
        margin-bottom: 18px;
        align-items: flex-start;
      }

      &::before {
        content: "◯";
        font-size: 10/16 * 1rem;
        color: $strong-color;
        padding-right: 12px;
        font-weight: 900;
      }
    }
  }

  &__form {
    // position: absolute;
    // top: calc(162 / 900 * 100vh);
    // right: calc(378 / 1920 * 100vw);
    margin-left: 29px;
    box-sizing: border-box;
    min-width: 372px;
    width: 372px;
    background: #ffffff;
    box-shadow: 0px 4px 70px rgba(58, 83, 113, 0.1);
    border-radius: 16px;
    padding: 40px 46px;

    @media screen and (max-width: $screen-xl) and (min-width: $screen-sm + 1px) {
      position: absolute;
      bottom: 0;
      right: 40px;
      align-self: flex-end;
    }

    @media screen and (max-width: $screen-sm) and (min-width: $screen-xs) {
      position: relative;
      margin: auto;
      min-width: 100%;
      width: 100%;
      padding: 40px 16px;
    }
  }
}

.section2 {
  max-width: 100%;
  width: 100%;
  padding: 80px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: $screen-lg) {
    padding: 120px 16px;
  }

  &__title {
    font-size: 28/16 * 1rem;
    line-height: 120%;
    color: $strong-color;
    font-weight: 900;
    text-align: center;
    margin-bottom: 64px;
    @media screen and (min-width: $screen-lg) {
      margin-bottom: 80px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: $screen-lg) {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      width: 992px;
    }
  }

  &__card {
    margin-bottom: 50px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.for-someone-card {
  max-width: 264px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__image {
    margin-bottom: 24px;
    @media screen and (min-width: $screen-lg) {
      min-height: 163px;
    }

    svg {
      margin: auto;
    }
  }

  &__title {
    font-size: 22/16 * 1rem;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.2px;
    font-weight: 600;
    color: $main-title-color;
    margin-bottom: 13px;
  }

  &__description {
    font-size: 1rem;
    line-height: 140%;
    text-align: center;
  }
}

.section3 {
  padding: 80px 16px;
  @media screen and (min-width: $screen-lg) {
    padding:120px 48px;
  }


  &__title {
    font-size: 28/16 * 1rem;
    font-weight: 900;
    line-height: 120%;
    text-align: center;
    color: $main-title-color;
    margin: auto;
    margin-bottom: 24px;
    max-width: 772px;
  }

  &__content {
    max-width: 966px;
    margin: auto;
  }

  &__description {
    text-align: center;
    color: $main-title-color;
    max-width: 441px;
    margin: 0 auto 56px;
  }

  &__video {
    max-width: 100%;

    video {
      width: 100%;
    }
  }
}

.section4 {
}

.section5 {
}

.section6 {
}

.section7 {
}
